
.cv{
    margin:  0 auto;
    width: 900px;
}
.cv-person{
    display: flex;
}
.cv-photo{
    width: 215px;
    height: 200px;
}
.cv-photo img{
    width: 215px;
    height: 200px;

}
.cv-name{
    margin-left: 70px;
 }
 .cv-name ul{
    list-style-type: none;
    padding-inline-start:5px;
 }
.cv-about{
    margin-top: 25px;
}
